* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom, #f0f8ff, #ffffff);
}

h1, h2{
    text-align: center;
    margin: 20px 0;
}

header {
    background-color: #003366;
    color: #ffffff;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1, h2 {
    font-family: 'Arial', sans-serif;
    color: #ffcc00;
}

section {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 20px;
}

section div:first-child {
    background-color: #b3d6f5;
    padding: 20px;
    border-radius: 16px;
}

section div:last-child {
    background-color: #b3d6f5;
    padding: 20px;
    border-radius: 16px;
    flex: 1;
}

img {
    display: block;
    border-radius: 8px;
    width: 450px;
}

form {
  border-radius: 5px;
  background-color: #f0f8ff;;
  padding: 20px;
  margin-top: 10px;
}

label {display: block;}

input, select {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #e6bc18;
  color: white;
  padding: 14px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

a {
    display: inline-block;
    background-color: #003366;
    color: #ffffff;
    padding: 12px 24px;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

a:hover {
    background-color: #005599;
}

input[type=submit]:hover {
  background-color: yellowgreen;
}

@media (max-width: 768px) {
    section {
        flex-direction: column;
        gap: 20px;
        margin: 10px;
    }

    img {
        width: 100%;
        max-width: 450px;
    }

    section div {
        padding: 15px;
    }

    header {
        padding: 10px;
        margin-bottom: 10px;
    }

    h1, h2 {
        margin: 15px 0;
    }

    a {
        padding: 10px 20px;
        font-size: 14px;
    }
}